* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: articulat-cf;
  background-color: white;
  width: 100%;
}

.landing-page-home {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.social-media__container {
  width: 30%;
  height: 100%;
  background-image: url("photos/bgPhoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.social-media__container img {
  position: absolute;
  top: 97px;
  height: 82%;
  transform: translateX(-50%);
  /* width: 100%; */
}
